<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Medikamentensuche</title>

<!-- Bootstrap core CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.12/cytoscape.js"></script>
<script	src="js/cytoscape_ww.js"></script>

<link href="css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#cy {
	width: 600px;
	height: 600px;
	display: block;
}
</style>

</head>
<body>
	<div id="wrapper" class="toggled">
		<div th:replace="sidebar"></div>
		
		<!-- Page Content -->
		<div id="page-content-wrapper">
<!-- 			<button type="button" class="btn btn-default" id="menu-toggle" aria-label="Suchleiste">
  				<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
			</button> -->
			<div class="panel panel-default">
				<div class="panel-body">
				<h2><span th:text=${medikament}></span></h2>
				<h4><a href="/@{/search?medikament={medikament}(medikament=${medikament})}" style="margin-right:20px;">Suche</a><a th:href="@{/wechselwirkungen?medikament={medikament}(medikament=${medikament})}">Wechselwirkungen</a></h4>
			
			<div id="cy" class="cy col-lg-6"></div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="js/heatmap.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
        var searchMed = /*[[${medikament}]]*/ 'default';
    /*]]>*/
    console.log(searchMed);
    </script>
</html>